<h2>
  Preguntas
  <%= link_to "Nueva Pregunta", new_question_group_question_path(@question_group), class: 'btn btn-success' %>
</h2>
<hr/>

<table>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th>Pregunta</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question", collection: @questions %>
  </tbody>
</table>
